<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Relatório de lançamentos por pessoa</h1>
    </div>

    <form #f="ngForm" (ngSubmit)="gerar()">
      <div class="ui-g-10 relatorio-filtro">
        <label>Vencimento</label>
        <p-calendar name="  periodoInicio" dateFormat="dd/mm/yy" required
          [inputStyle]="{ width: '95px'}" [(ngModel)]="periodoInicio"></p-calendar>

        <label>até</label>
        <p-calendar name="periodoFim" dateFormat="dd/mm/yy" required  required
          [inputStyle]="{ width: '95px'}" [(ngModel)]="periodoFim"></p-calendar>

        <p-progressSpinner [hidden]="!relatorioEmAndamento" [style]="{ width: '25px', height: '25px' }" ></p-progressSpinner>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Gerar" [disabled]="f.invalid"></button>
      </div>
    </form>
  </div>
</div>
