<div class="container">

  <div class="ui-g">
    <form autocomplete="off" (ngSubmit)="pesquisar()">
      <div class="ui-g-12">
        <h1>Pessoas</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome" [(ngModel)]="filtro.nome">
      </div>

      <div class="ui-g-12">
        <button pButton type="button" label="Limpar" icon="pi pi-times" class="button-form-search ui-button-danger"
          (click)="limparForm();"></button>
        <button pButton type="submit" label="Pesquisar" class="button-form-search"></button>
      </div>
    </form>
  </div>

  <div class=" ui-g">
    <div class="ui-g-12">
      <p-table [value]="pessoas" [responsive]="true" [paginator]="true" [rows]="filtro.itensPorPagina" [lazy]="true"
        [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)" #tabela>
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Status</th>
            <th class="col-acoes-header"></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-pessoa>
          <tr>
            <td>{{ pessoa.nome }}</td>
            <td>{{ pessoa.endereco.cidade?.nome }}</td>
            <td>{{ pessoa.endereco.cidade?.estado.nome }}</td>
            <td>
              <a href="javascript:;" [pTooltip]="pessoa.ativo ? 'Desativar' : 'Ativar'" tooltipPosition="top"
                (click)="alterarStatus(pessoa)">
                {{ pessoa.ativo ? 'Ativo' : 'Inativo' }}
              </a>
            </td>
            <td class="col-acoes">
              <a pButton icon="fa fa-pencil" pTooltip="Editar" tooltipPosition="top"
                [routerLink]="['/pessoas', pessoa.codigo]"></a>

              <button pButton icon="fa fa-trash" pTooltip="Excluir" tooltipPosition="top"
                (click)="confirmarExclusao(pessoa)"></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">
              Nenhuma pessoa encontrada
            </td>
          </tr>
        </ng-template>

      </p-table>
    </div>
    <div class="ui-g-12">
      <button pButton label="Nova Pessoa" routerLink="/pessoas/novo"
        [disabled]="!temPermissao('ROLE_CADASTRAR_PESSOA')"></button>
    </div>
  </div>

</div>
