.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

.box {
  width: 300px;
  height: 300px;
  /*background: darkorchid; */
}
