<app-navbar *ngIf="exibindoNavbar()"></app-navbar>
<router-outlet></router-outlet>
<!-- <app-pessoas-pesquisa></app-pessoas-pesquisa> -->

<p-toast></p-toast>

<!-- <div style="width: 100%; padding-top: 50px; text-align: center">
  <p-progressSpinner></p-progressSpinner>
  <h3 style="text-align: center;" >Carregando...</h3>
  <span class="sr-only">Loading...</span>
</div>
<p-blockUI [blocked]="true"></p-blockUI> -->

<p-confirmDialog header="Confirmação de ação" icon="fa fa-question-circle" #confirmacao>
  <p-footer>
    <button type="button" pButton icon="fa fa-check" label="Sim" (click)="confirmacao.accept()"></button>
    <button type="button" pButton icon="fa fa-times" label="Não" (click)="confirmacao.reject()"></button>
  </p-footer>
</p-confirmDialog>
