<div class="ui-g">
  <div class="ui-g-12">
    <button pButton type="button" label="Novo" icon="fa fa-plus"
      class="ui-button-secondary" (click)="prepararNovoContato()"></button>
  </div>
  <div class="ui-g-12">
    <p-table [value]="contatos" [responsive]="true" >
      <ng-template pTemplate="header">
        <tr>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Telefone</th>
          <th class="col-acoes-header"></th>
        <tr>
      </ng-template>
      <ng-template pTemplate="body" let-contato let-rowIndex="rowIndex">
        <tr>
          <td>{{ contato.nome }}</td>
          <td>{{ contato.email }}</td>
          <td>{{ formatarTelefone(contato.telefone)}}</td>
          <td class="col-acoes">
            <button pButton icon="fa fa-pencil" type="button"
              pTooltip="Editar" tooltipPosition="top" (click)="prepararEdicaoContato(contato, rowIndex)"></button>
            <button pButton icon="fa fa-trash" type="button"
            pTooltip="Excluir" tooltipPosition="top" (click)="removerContato(rowIndex)"></button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4">
            Nenhum contato cadastrado.
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog [header]="editando ? 'Edição Contato': 'Novo Contato'" [(visible)]="exibindoFormularioContato" modal="modal" *ngIf="contato">
  <form #frmContato="ngForm" (ngSubmit)="confirmarContato(frmContato)">
    <div class="ui-g-12 ui-fluid">
      <label>Nome</label>

      <input pInputText type="text" name="nome" trimOnBlur
        required [(ngModel)]="contato.nome" #contatoNome="ngModel" />

      <app-message [control]="contatoNome" error="required" text="Informe o nome"></app-message>

    </div>

    <div class="ui-g-12 ui-fluid">
      <label>E-mail</label>

      <input pInputText type="email" name="email"
        required email [(ngModel)]="contato.email" #contatoEmail="ngModel"
        (keydown.space)="$event.preventDefault()" trimOnBlur/>

      <app-message [control]="contatoEmail" error="required" text="Informe o e-mail"></app-message>
      <app-message [control]="contatoEmail" error="email" text="Informe um e-mail válido"></app-message>

    </div>

    <div class="ui-g-12 ui-fluid">
      <label>Telefone</label>
      <p-inputMask name="telefone" required [(ngModel)]="contato.telefone" minlength="10" unmask="true"
        [mask]="'(99) 99999-999?9'" #contatoTelefone="ngModel"></p-inputMask>

      <app-message [control]="contatoTelefone" error="required" text="Informe o telefone"></app-message>
      <app-message [control]="contatoTelefone" error="minlength" text="Informe um número válido"></app-message>

    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Confirmar" [disabled]="frmContato.invalid || !frmContato.dirty"></button>
    </div>
  </form>
</p-dialog>

