<div class="container">
  <div class="ui-g">

    <form autocomplete="off" (ngSubmit)="pesquisar()">

      <div class="ui-g-12">
        <h1>Lançamentos</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="descricao" [(ngModel)]="filtro.descricao">
      </div>

      <div class="ui-g-12">
        <label style="display: block">Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" name="dataVencimentoInicio" [inputStyle]="{ width: '95px'}"
          [(ngModel)]="filtro.dataVencimentoInicio"></p-calendar>

        <label class="label-spaced">até</label>
        <p-calendar dateFormat="dd/mm/yy" name="dataVencimentoFim" [inputStyle]="{ width: '95px'}"
          [(ngModel)]="filtro.dataVencimentoFim"></p-calendar>
      </div>

      <div class="ui-g-12">
        <button pButton type="button" label="Limpar" icon="pi pi-times" class="button-form-search ui-button-danger"
          (click)="limparForm();"></button>
        <button pButton type="submit" label="Pesquisar" class="button-form-search"></button>
      </div>

    </form>

  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="lancamentos" [responsive]="true" [paginator]="true" [rows]="filtro.itensPorPagina" [lazy]="true"
        [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)" #tabela>
        <ng-template pTemplate="header">
          <tr>
            <th>Pessoa</th>
            <th>Descrição</th>
            <th class="col-data-header">Vencimento</th>
            <th class="col-data-header">Pagamento</th>
            <th class="col-valor-header">Valor</th>
            <th class="col-acoes-header"
              *ngIf="auth.temPermissao('ROLE_CADASTRAR_LANCAMENTO') || auth.temPermissao('ROLE_REMOVER_LANCAMENTO')">
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-lancamento>
          <tr>
            <td><span class="ui-column-title">Pessoa</span>{{ lancamento.pessoa }}</td>
            <td><span class="ui-column-title">Descrição</span>{{ lancamento.descricao }}</td>
            <td class="col-data"><span
                class="ui-column-title">Vencimento</span>{{ lancamento.dataVencimento | date:'dd/MM/yyyy' }}</td>
            <td class="col-data"><span
                class="ui-column-title">Pagamento</span>{{ lancamento.dataPagamento | date:'dd/MM/yyyy' }}</td>
            <td class="col-valor" [style.color]="lancamento.tipo === 'DESPESA' ? 'red' : 'blue'">
              <span class="ui-column-title" style="color: black">Valor</span>{{ lancamento.valor | number:'1.2-2' }}
            </td>
            <td class="col-acoes"
              *ngIf="auth.temPermissao('ROLE_CADASTRAR_LANCAMENTO') || auth.temPermissao('ROLE_REMOVER_LANCAMENTO')">
              <a pButton icon="fa fa-pencil" pTooltip="Editar" tooltipPosition="top"
                *ngIf="auth.temPermissao('ROLE_CADASTRAR_LANCAMENTO')"
                [routerLink]="['/lancamentos', lancamento.codigo]"></a>

              <button pButton icon="fa fa-trash" pTooltip="Excluir" tooltipPosition="top"
                [ngClass]="!auth.temPermissao('ROLE_REMOVER_LANCAMENTO') ? 'not-allowed': ''"
                (click)="confirmarExclusao(lancamento)"
                [disabled]="!auth.temPermissao('ROLE_REMOVER_LANCAMENTO')"></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">
              Nenhum lançamento encontrado
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="ui-g-12" *ngIf="auth.temPermissao('ROLE_CADASTRAR_LANCAMENTO')">
      <a pButton label="Novo Lançamento" routerLink="/lancamentos/novo"></a>
    </div>

  </div>

</div>
