<div class="container">
  <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{ editando ? 'Edição de': 'Novo'}} Lançamento</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton name="tipo" [options]="tipos" formControlName="tipo"></p-selectButton>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Vencimento</label>
        <p-calendar name="vencimento" dateFormat="dd/mm/yy"
          [inline]="false" [readonlyInput]="false" [showIcon]="false"
          formControlName="dataVencimento"></p-calendar>

        <app-message [control]="formulario.get('dataVencimento')" error="required"
          text="Informe uma data de vencimento"></app-message>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>{{ formulario.get('tipo').value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        <p-calendar dateFormat="dd/mm/yy" name="dataPagamento"
          formControlName="dataPagamento"></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="descricao"
          formControlName="descricao">

        <app-message [control]="formulario.get('descricao')" error="obrigatoriedade"
          text="Informe a descrição"></app-message>
        <app-message [control]="formulario.get('descricao')" error="tamanhoMinimo"
          text="Mínimo de {{ formulario.get('descricao').errors?.tamanhoMinimo?.tamanho }} caracteres"></app-message>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Valor</label>
        <input pInputText type="text" name="valor" placeholder="0,00"
          currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }"
          formControlName="valor">
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="categoria">
        <label>Categoria</label>
        <p-dropdown name="categoria" [options]="categorias"
          placeholder="Selecione" formControlName="codigo"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="pessoa">
        <label>Pessoa</label>
        <p-dropdown name="pessoa" [options]="pessoas" placeholder="Selecione"
          [filter]="true" formControlName="codigo"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <textarea pInputTextarea rows="3" name="observacao"
          formControlName="observacao"></textarea>
      </div>

      <div class="ui-md-2 ui-md-offset-10 ui-g-4 ui-g-offset-8 ui-fluid"
        *ngIf="!formulario.get('anexo').value">
        <p-fileUpload #fileUpload mode="basic" name="anexo" auto="true" maxFileSize="1048576" chooseLabel="Anexar"
          accept="image/*"
          (onSelect)="validarArquivo($event, fileUpload)"
          [url]="urlUploadAnexo"
          (onUpload)="aoTerminarUploadAnexo($event)"
          (onError)="erroUpload($event)"
          (onProgress) ="uploadEmAndamento = true"
          [hidden]="uploadEmAndamento"></p-fileUpload>
          <!-- accept="image/*,application/pdf" -->

          <p-progressSpinner [hidden]="!uploadEmAndamento"
            [style]="{ width: '25px', height: '25px' }" ></p-progressSpinner>
      </div>



      <div class="ui-g-12"
        *ngIf="formulario.get('anexo').value" dir="rtl">
        <button pButton type="button" class="ui-button-danger"
          icon="fa fa-close" pTooltip="Remover Anexo" tooltipPosition="top"
          (click)="removerAnexo()"></button>

        <a target="_blank" pTooltip="Baixar anexo" tooltipPosition="top"
          [href]="urlAnexo"> {{ nomeAnexo }}</a>
      </div>

      <div class="ui-g-12 cadastro-acoes">
        <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid || uploadEmAndamento"></button>
        <button pButton type="button" label="Novo" class="ui-button-info" (click)="novo()" ></button>
        <a routerLink="/lancamentos">Voltar para a pesquisa</a>
      </div>
    </div>

  </form>
</div>
