/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

a.ui-button:hover {
  background-color: #005b9f;
  color: white!important;
}

a, button {
  margin-right: .25em;
}

label {
  font-weight: bold;
}

.ui-dropdown-filter-container {
  width: 100%;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

.col-valor {
  width: 120px;
  text-align: right;
}

.col-valor-header {
  width: 120px;
}

.col-data {
  width: 120px;
  text-align: center;
}

.col-data-header {
  width: 120px;
}

.col-acoes {
  width: 100px;
  text-align: center;
}

.col-acoes-header {
  width: 100px;
}

.col-acoes .ui-button {
  margin: 1px;
}

.label-spaced {
  margin: 5px;
}

.cadastro-acoes .ui-button {
  margin-right: 5px;
}

.relatorio-filtro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-form-search {
  margin-right: 5px !important;
}
