<div class="container">
  <form #p="ngForm" autocomplete="off" (ngSubmit)="salvar(p)" >

    <div class="ui-g">
      <div class="ui-g-12">
        <h1> {{ pessoa.codigo  ? 'Edição pessoa': 'Nova Pessoa'}}</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome" trimOnBlur
          [(ngModel)]="pessoa.nome" #nome="ngModel" required minlength="5">

        <app-message [control]="nome" error="required"
          text="Informe o nome"></app-message>
        <app-message [control]="nome" error="minlength"
          text="Mínimo de {{ nome.errors?.minlength?.requiredLength }} caracteres"></app-message>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Logradouro</label>
        <input pInputText type="text" name="logradouro"
          [(ngModel)]="pessoa.endereco.logradouro" #logradouro="ngModel" required trimOnBlur>

        <app-message [control]="logradouro" error="required"
          text="Informe o logradouro"></app-message>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Número</label>
        <input pInputText type="text" name="numero"
          [(ngModel)]="pessoa.endereco.numero" #numero="ngModel" required>

        <app-message [control]="numero" error="required"
          text="Informe o número"></app-message>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Complemento</label>
        <input pInputText type="text" name="complemento" [(ngModel)]="pessoa.endereco.complemento" trimOnBlur>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Bairro</label>
        <input pInputText type="text" name="bairro"
          [(ngModel)]="pessoa.endereco.bairro" #bairro="ngModel" required>

        <app-message [control]="bairro" error="required"
          text="Informe o bairro"></app-message>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>CEP</label>

        <p-inputMask name="cep" mask="99.999-999"
          [(ngModel)]="pessoa.endereco.cep" unmask="true" minlength="8"
          #cep="ngModel" required></p-inputMask>

        <app-message [control]="cep" error="required"
          text="Informe o CEP"></app-message>
        <app-message [control]="cep" error="minlength"
          text="Informe o CEP"></app-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Estado</label>
        <p-dropdown placeholder="Selecione..."
          [filter]="true" [options]="estados"
          [(ngModel)]="estadoSelecionado" name="estadoSelecionado"
          (onChange)="carregarCidades()" required
          #estado="ngModel"
          [resetFilterOnHide]="true"></p-dropdown>

          <app-message [control]="estado" error="required"
          text="Informe o estado"></app-message>

      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Cidade</label>
        <p-dropdown [placeholder]="estadoSelecionado ? 'Selecione...' : 'Selecione o estado primeiramente...'"
          [filter]="true" [options]="cidades" required
          [(ngModel)]="cidadeSelecionada" name="cidade" #cidade="ngModel"
          [disabled]="!estadoSelecionado" [emptyFilterMessage]="'Nenhuma resultado encontrado'"
          [resetFilterOnHide]="true"></p-dropdown>

        <app-message [control]="cidade" error="required"
          text="Informe a cidade"></app-message>

      </div>

      <div class="ui-g-12">
        <p-panel header="Contatos">
          <app-pessoa-cadastro-contato [contatos]="pessoa.contatos" [frmPessoa]="p"></app-pessoa-cadastro-contato>
        </p-panel>
      </div>

      <div class="ui-g-12 cadastro-acoes">
        <button pButton type="submit" [label]="salvo ? 'Salvo': 'Salvar'"
          [disabled]="!(p.valid && p.dirty)" ></button>
        <button pButton type="button" label="Novo" class="ui-button-info" (click)="novo(p)"></button>

        <a routerLink="/pessoas">Voltar para a pesquisa</a>
      </div>
    </div>

  </form>
</div>
